@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.app-main {

  .running-class {
    color: #67C23A;
  }

  .terminate-class {
    color: #909399;
  }

  .waiting-class {
    color: #E6A23C;
  }

  .back-class {
    background-color: #EBEEF5;
    border-radius: 30px;
    padding: 3px 6px;
    margin-right: 2px;
    line-height: 26px;
  }
  .dashboard {
    &-container {
      margin: 15px 20px 5px;

      .el-table {
        border-radius: 10px;
      }
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  
    .table-fix {
      height: calc(100% - 100px);
    }
  }

  .dialogFooter {
    text-align: center;
    margin: 0px 60px 15px;

    button {
      border-radius: 0px;
      padding: 10px 25px;
    }
  }
  .el-dialog__body {
    padding: 15px 15px 5px;
  }

  .dialogContent {
    padding: 0px 40px 0 15px;
    margin: 0px 0;

    label {
      font-weight: 400;
    }
    .el-form-item {
      margin-bottom: 5px;
    }
    input, textarea {
      border-radius: 0px;
    }
    .dialogTextarea >textarea {
      height: 80px;
    }

    .el-radio-button:first-child .el-radio-button__inner {
      border-radius: 0px;
    }
    .el-radio-button:last-child .el-radio-button__inner {
      border-radius: 0px;
    }
    .border-span-content {
      color: #F56C6C; 
      margin-right: 4px;
    }
    .el-input-number .el-input__inner {
      // text-align: left;
    }
    .el-input-group__prepend {
      border-radius: 0px;
    }

  }

  .tableOperate {
    .el-link {
      font-weight: 430;
      font-size: 13px;
    }

    .operator-btn {
      margin-right: 15px;
      color:#0c81f5
    }
    .operator-btn:hover {
      cursor: pointer;
    }
  }

  .name-class {
    cursor: pointer;
  }
  .name-class:hover {
    color: #409EFF;
  }

  .detail-dashboard {

    .el-table__expanded-cell[class*=cell] {
      padding: 5px 50px 20px;
    }
    .table-expand {
      font-size: 0;
    }
    .table-expand label {
      width: 90px;
      color: #99a9bf;
      font-weight: 400;
    }
    .table-expand .el-form-item {
      margin-right: 0;
      margin-bottom: 0;
      width: 100%;
    }
    
    .pod-item {
      margin: 20px 10px;
      padding: 10px 20px;
      font-size: 0;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      //box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
    .pod-item label {
      /* width: 90px; */
      color: #99a9bf;
      font-weight: 400;
    }
    .pod-item .el-form-item {
      margin-right: 0;
      margin-bottom: 0;
      width: 33%;
    }
    .pod-item-all .el-form-item {
      width: 100%;
    }
    .pod-item span {
      color: #606266;
    }
    /* .el-collapse {
      border-top: 0px;
    } */
    .title-class {
      margin-left: 5px;
      color: #606266;
      font-size: 13px;
    }
    .podCollapse .el-collapse-item__content {
      padding: 0px 10px 15px;
      /* font-size: 13px; */
    }
    .el-dialog__body {
      padding-top: 5px;
    }
    .msgClass {
      background-color: #fff;
      margin: 8px 10px 15px 10px;
      border-radius: 10px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
    .msgClass .el-table::before {
      height: 0px;
    }
  }
}
